services:
  app:
    build:
      context: .
      args:
        - PORT=${PORT:-3000}
    ports:
      - "${HOST_PORT:-3001}:${PORT:-3000}"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=${PORT:-3000}
      - DB_HOST=mongodb://mongo:27017/subscriptiontracker
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
      - /app/node_modules
# .:/app	Mounts your code live
# /app/node_modules	Prevents overwrite
    command: npm run dev
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:7.0
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=subscriptiontracker

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

volumes:
  mongo_data:
  redis_data: