version: "3.9"

services:
  app:
    build: .
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - /app/node_modules
      # .:/app	Mounts your code live
# /app/node_modules	Prevents overwrite
    command: npm run dev