version: "3.9"

services:
  app:
    build:
      context: .
      args:
        - PORT=${PORT:-3000}
    ports:
      - "${HOST_PORT:-3001}:${PORT:-3000}"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - PORT=${PORT:-3000}
    volumes:
      - .:/app
      - /app/node_modules
      # .:/app	Mounts your code live
# /app/node_modules	Prevents overwrite
    command: npm run dev